.swiper-container {
  height: 55vh;
}
.slide-item {
  margin: 20px;
}
.slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination > .swiper-pagination-bullet {
  background-color: black;
  opacity: 0.8;
  color: white;
  padding: 8px;
  border-radius: 50%;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: white;
  opacity: 0.8;
  padding: 8px;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
}
/* Estilo por defecto para imágenes grandes */
.swiper-slide img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 666px) {
  .slide-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

