.swiper-container {
  height: 55vh;
}
.slide-item {
  margin: 20px;
}
.slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination > .swiper-pagination-bullet {
  background-color: black;
  opacity: 0.8;
  color: white;
  padding: 8px;
  border-radius: 50%;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: white;
  opacity: 0.8;
  padding: 8px;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
}
/* Estilo por defecto para imágenes grandes */
.swiper-slide img {
  width: 100%;
  height: 100%;
}
/* Estilos para pantallas más pequeñas */
@media (max-width: 480px) {
  .swiper-slide img {
    max-width: 80%; /* Ajusta esto según tus necesidades */
    height: 80%;
  }
}
@media (max-width: 320px) {
  .swiper-slide img {
    max-width: 70%; /* Ajusta esto según tus necesidades */
    height: 70%;
  }
}
