.cart-item {
  width: 100%;
  background: rgba(239, 239, 239, 0.509);
}

.cart-item-img {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
}

.cart-item-img img {
  width: 100%;
  height: 100%;
}

.cart-item-body {
  width: calc(100% - 100px);
}

.delete-item-btn {
  all: unset;
  color: rgb(206, 206, 206);
}

.delete-item-btn:hover {
  color: red;
}
