#gallery {
  margin-bottom: 100px;
}

.gallery-products-container {
  width: 90%;
  /* height: 100vh; */
}

/* .gallery-products-container {
  columns: 200px 5;
  column-gap: 1rem;
  column-fill: balance;
}

@media screen and (max-width: 768px) {
  .gallery-products-container {
    columns: 2 auto;
  }
} */
