#gallery {
  margin-bottom: 100px;
}

.gallery-products-container {
  columns: 200px 5;
  column-fill: balance;
}

@media screen and (max-width: 768px) {
  .gallery-products-container {
    column-count: 2; /* Cambiar a dos columnas en pantallas más pequeñas */
    column-width: auto; /* Ajustar el ancho automático de las columnas */
  }
}
