.gallery-product {
  min-width: 250px;
  max-width: 250px;
}

.gallery-product-body h3 {
  color: black !important;
  font-weight: 300;
  font-size: 24px;
}

.gallery-product-img-container {
  width: 100%;
}
