.container-fluid {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* Bottom left text */
.over-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.over-top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.over-top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.over-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.over-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}