#navbar-mobile {
  box-shadow: inset 0px 3px 4px 0px rgba(0, 0, 0, 0.11),
    0px 7px 10px -7px rgba(0, 0, 0, 0.1);
  width: 90vw;
  background-color: white;
  position: fixed;
  bottom: 8px;
  left: 5vw;
  z-index: 12;
  border-radius: 30px;
}

#navbar-mobile a {
  text-decoration: none;
  color: black;
}

#navbar-mobile p {
  font-size: 3vw;
  margin: 0% !important;
}

#logo-header-mobile {
  height: 48px;
}

.navbar-brand img {
  height: 100%;
  width: auto;
  max-height: 40px;
}
