#logo-navbar {
  height: 35px;
}

#navbar a:focus {
  color: blueviolet;
}

#navbar {
  background-color: rgb(246, 246, 246);
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: auto !important;
  right: 0%;
  margin-top: var(--bs-dropdown-spacer);
}

.navbar-brand img {
  height: 100%;
  width:auto;
  max-height: 40px;
}