#contact-page{
    height: 100vh;
    background-image: url(../../assets/img/general/cuadro1Gaby.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(0.1);
}

#contact-form-container{
    width: 500px;
    margin-top: auto;
    border: 3px solid black;
    border-bottom: 0px;
    border-radius: 1rem 1rem 0px 0px;
    padding-bottom: 50px;
}