
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn .7s ease-in;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; /* Agrega este valor para el margen superior */
  margin-left: 20px; /* Agrega este valor para el margen izquierdo */
}

.container-padre {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 40px;
  margin: auto;
  margin-top: 40px;
}




.text-container {
  justify-content: center;
  margin-top: 40px; /* Agrega este valor para el margen superior */
  margin-left: 20px; /* Agrega este valor para el margen izquierdo */
  margin-bottom: 40px; /* Margen inferior */
  margin-right: auto;
}

.img-container img {
  max-width: 100%;
  height: auto;
}


.text-container p  {
  font-size: 20px; /* Ajusta este valor a tus necesidades */
}

.text-container  strong {
  font-size: 30px; /* Ajusta este valor a tus necesidades */
  color: rgb(0, 173, 0); /* Color verde intenso */

}
.text-container h1 {
  font-size: 60px; /* Ajusta este valor a tus necesidades */
  font-style: italic;
}


/* Consulta de medios para pantallas pequeñas */
@media (max-width: 766px) {
  .img-container, .text-container, .container-padre {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
    flex-direction: column;
  }
}

@keyframes colorChange {
  0% { color: rgb(41, 226, 44); }
  50% {   color: rgb(0, 173, 0);}
  100% { color: rgb(41, 226, 44); }
}

strong {
  animation: colorChange 2s infinite;
}

/* Cuando la pantalla tiene 600px o menos */
@media (max-width: 700px) {
  .container-padre {
    flex-direction: column;
    padding: 10px;
    margin-bottom: 90px;
    align-items: center;
  }
}