#sign-up-page{
    min-height: calc(100vh - 48px);
    background-image: url(../../assets/img/general/cuadro1Gaby.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(0.1);
}

#sign-up-form-container{
    width: 500px;
    height: auto;
    border: 3px solid black;
    border-bottom: none;
    border-radius: 1rem 1rem 0px 0px;
}