.text-area-input {
    position: static;
    width: auto;
  }
  
  .text-area-input label {
    color: var(--input-outline-color);
    position: relative;
    top: 0.5rem;
    background: var(--input-background-color);
    width: fit-content;
    transition: transform 0.2s;
  }

  .text-area-input textarea:focus + label{
    color: var(--accent-color);
    transform: scale(1.2);
    transform: translateX(0.5rem);
  }

  
  .text-area-input textarea {
    border: 2px var(--input-outline-color) solid;
    background: var(--input-background-color);
  }
  
  .text-area-input textarea:focus {
    border: 2px var(--accent-color) solid;
    outline: none;
  }