:root{
	--accent-color: rgb(62, 165, 42);
	--input-background-color: white;
	--input-outline-color: black;
}

body {
	font-family: "DM Sans", sans-serif !important;
}
.justify {
	text-align: justify;
}
