:root {
  --accent-color: rgb(47, 121, 32);
  --second-accent-color: #e7a900;
  --input-background-color: white;
  --input-outline-color: black;
}

body {
  font-family: "DM Sans", sans-serif !important;
}
.justify {
  text-align: justify;
}

.accent-color {
  color: var(--accent-color) !important;
}

.min-height {
  min-height: calc(100vh - 190px);
}
